.list-contacts {
    padding: 20px 0;
    margin: 20px 0;
}
.contact {
    border: 1px solid #282c34;
    padding: 20px;
    width: 500px;
    margin: 10px 0;
}
.img-contact {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}
.contact-name {
    display: inline-block;
    padding-left: 20px;
}