.info-img {
    width: 160px;
    height: 180px;
    vertical-align: top;
}

.info {
    display: inline-block;
    padding-left: 15px;
}
.buttons {
    padding: 10px 0;
}

.button {
    background: #282c34;
    border: 1px solid #282c34;
    width: 40%;
    margin-right:  10px;
    color: #fff;
    padding: 5px 0  ;
}